html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: beige;
}
#sideBar {
  grid-column: 1/2;
  background-color: red;
}
#mainArea {
  grid-column: 2/3;
  background-color: blue;
}