html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: beige;
}

/* side bar styles*/

#sideBar {
  grid-column: 1/2;
  background-color: red;
}

/* main area styles */

#mainArea {
  grid-column: 2/3;
  background-color: blue;
}

/* new project dialog box*/

#projectDialog {
  position: fixed;
  z-index: 100;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}
#projectDialogTitle {
  padding: 0px;
  margin: 0px;
  grid-column: 1/3;
}
#projectDialogName {
  padding: 0px;
  margin: 0px;
  grid-column: 1/3;
}
.projectDialogBtn {
  padding: 0px;
  margin: 10px;
}
